body{
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 50px;
}
.App{
  padding: 10px;
  background-color: black;
  /* box-shadow: 2px 2px 5px rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://wallpapercave.com/wp/wp2065394.png");
  background-size: auto;
  background-position: center;
  height: 50rem;
  margin: auto;
 
}

.card{

  margin-top: 25px;
  margin-bottom: 50px;
  width: 300px;
  height: 500px;
  border: solid 5px #dd4cb1;
  border-radius: 10px;

}


.cardName{
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: small;
  align-items: center;
  
}

.cardName h2{
  font-size: 25px;
  margin: 8px;
  color: #dd4cb1;
}
.cardName span{
  margin: 10px;
 text-align: end;
 font-size: larger;
}
.rickAndMorty{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
 
}

.location{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
height:100%;
padding: 10px;
margin-top:20px;
border-radius: 10px;
border: solid 2px white;

}
.location h2{
font-size:60px;
margin: 0 ;
}
.locationName{  
list-style: none;
display: flex;
gap:150px;
padding: 00px 60px;

}
.locationName li{
  font-size: 25px;
}

.locationName span{
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.inputBtn{
  display: flex;
  padding: 340px;
}

.inputBtn input{
  
  width: 600px;
  height: 100%;
  outline: none;
  font-size: 1.2em;
  border-radius: 10px;
}
.inputBtn button{
  border-radius: 5px;
  margin-top: 5px;
  width: 100px;
}


/*---Pagination---*/
.pagination-container{
  display: flex;
  gap: 20px;
  align-items: center;
  width: max-content;
  margin-top: 20px;
}

.pagination-number-container{
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}
.pagination-prev-next{
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.page-number{
  font-size: 25px;
  color: white;
}

.page-active{
  color: #dd4cb1;
}

